<form id="add-student-form" class="m-6 is-flex is-flex-direction-column " action="/students/add" method="POST">
    <div class="field">
        <label class="label">Name: </label>
        <div class="control">
            <input name="name" class="input" type="text" placeholder="student's full name">
        </div>
    </div>

    <div class="field">
        <label class="label">Grade</label>
        <div class="control">
            <div class="select">
                <select name="grade">
                    <option>Pre-School</option>
                    <option>Kindergarten</option>
                    <option>1st Grade</option>
                    <option>2nd Grade</option>
                    <option>3rd Grade</option>
                    <option>4th Grade</option>
                    <option>5th Grade</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Bus: </label>
        <div class="control">
            <input name="bus_number" class="input" type="text" placeholder="bus number">
        </div>
    </div>

    {{!-- Special Ed Section --}}

    <div class="field">
        <label class="checkbox">
            <input type="checkbox" id="special_ed" name="special_ed" value="true" onchange="toggleIEPField()">
            Special Ed
        </label>
    </div>

    <!-- Conditional IEP Link Input Field (initially hidden) -->
    <div class="field" id="iep_link_container" style="display: none;">
        <label class="label">IEP Link:</label>
        <div class="control">
            <input name="iep_url" class="input" type="url" placeholder="Link to student's IEP">
        </div>
    </div>

    <div class="field">
        <label class="label">Things to Note about Student:</label>
        <div class="control">
            <textarea name="notes" class="textarea" placeholder="type notes here"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="/dashboard" class="button is-link is-light">Cancel</a>
        </div>
    </div>
</form>

{{!-- JavaScript function to toggle IEP field visibility --}}

<script>
    function toggleIEPField() {
        const iepField = document.getElementById('iep_link_container');
        const specialEdCheckbox = document.getElementById('special_ed');
        iepField.style.display = specialEdCheckbox.checked ? 'block' : 'none';
    }
</script>